/* Mobile first Approach */

/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

/* Variables */

:root {

  /* Primary colors */
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);

  /* Neutral colors */
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);

  font-size: 16px;
}
/* Browser CSS reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  font-family: 'Red Hat Display', sans-serif;
  max-width: 100vw;
  max-height: 100vh;
  background-image: url('../images/pattern-background-mobile.svg');
  background-repeat: no-repeat;
  background-position: top center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 320px;
}

.card {
  margin: 4rem auto;
  box-shadow: 0 0.1875rem 0.625rem rgb(0 0 0 / 30%);
  background-color: #fff;
  border-radius: 1.25rem;
}

.card .main__header img {
  width: 100%;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
}

.card .main__header .main__header__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  padding: 1.25rem;
}

.card .main__header .main__header__text h1 {
  font-size: 1.25rem;
  font-weight: 900;
  color: var(--dark-blue);
}

.card .main__header .main__header__text h1, p {
  text-align: center;
}

.card .main__header .main__header__text p {
  font-size: 0.9rem;
  line-height: 1.6;
  color: var(--desaturated-blue);
  padding: 0 1.25rem;
}

.card .main__section {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  padding: 1rem;
  font-size: 0.85rem;
  box-shadow: 0.1 0.1rem 0.1rem rgb(0 0 0 / 10%);
  background-color: var(--very-pale-blue);
  border-radius: 0.5rem;
}

.card .main__section .information {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card .main__section .information .price {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.card .main__section .information .price h2 {
  font-size: 0.9rem;
  color: var(--dark-blue);
}

.card .main__section .information .price p {
  color: var(--desaturated-blue);
}

.card .main__section span a {
  color: var(--bright-blue);
  font-size: 0.9rem;
}

.card .main__section span a:hover {
  text-decoration: none;
  color: var(--desaturated-blue);
}

.card .main__section__payment-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.card .main__section__payment-buttons a,
.card .main__section__payment-buttons a:visited{
  text-decoration: none;
}


.card .main__section__payment-buttons .goToPayment {
  padding: 0.85rem 4rem;
  color: var(--very-pale-blue);
  background-color: var(--bright-blue);
  border: none;
  font-size: 0.95rem;
  font-family: 'Red Hat Display', sans-serif;
  border-radius: 10px;
  font-weight: 700;
}

.card .main__section__payment-buttons .goToPayment:hover {
  background-color: var(--desaturated-blue);
  cursor: pointer;
}

.card .main__section__payment-buttons .cancelOrder {
  padding: 0.3rem 4rem 2rem 4rem;
  border: none;
  background-color: #fff;
  font-size: 0.9rem;
  color: var(--desaturated-blue);
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 700;
}

.card .main__section__payment-buttons .cancelOrder:hover {
  color: var(--dark-blue);
  cursor: pointer;
}

:focus {
  outline: 3px solid var(--bright-blue);
  outline-offset: 5px;
}

/* Media Queries */

@media (min-width: 376px) {
  body {
    background-image: url('../images/pattern-background-desktop.svg');
  }
}

/* (Boostrap breakpoints) */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  body {
    background-size: contain;
    background-position: 0 -20%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card {
    margin: 0;
  }

  footer {
    margin-top: 1rem;
  }

}
